@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Manrope:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* header and hero section */

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Manrope:wght@200..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* -------------------------------------------styling header section--------------------------------------------- */

::-webkit-scrollbar {
    width: 20px;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #027A36;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #027A36;
    border-radius: 20px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #027A36;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  ::-webkit-scrollbar-thumb:hover {
  
    background-color: #a8bbbf;
  
  }

@keyframes fadeInFromTop {
    from {
        transform: translateY(-40px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 2rem;
    background: white;
    border-bottom: 1px solid #dbdbdb;
    max-width: 90%;
    opacity: 0; /* Initially hide elements */
    animation: fadeInFromBottom 1s ease forwards;

}

i{
   font-size: 15px;
}

.logo img {
    height: 40px;
}

.search-container {
    display: flex;
    position: relative;
    flex-grow: 1;
    max-width: 700px;
    margin-right: 2rem;
}
/* styling select input */
/* .category-select {
    cursor: pointer;
    padding:0.9rem;
    border: none;
    border-right: 1px solid #cbcbcb;
    border-radius: 20px 0 0 20px;
    background: #f8f8f8;
    min-width: 200px;
}

.category-select:focus {
   outline: none;
} */

.category-select {   
    background: #f8f8f8 ;
    padding: 0.9rem;
    border: 1px none #ddd;
    border-radius: 20px 0 0 20px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    min-width: 190px;
    transition: all 0.2s ease;
}
/* Hover state */
.category-select:hover {
    background-color: #f5f5f5;
    transform: scale(1.02);
}
/* Focus state */
.category-select:focus {
    outline: none;
}
/* Selected state for options */
.category-select option:checked {
    background-color: #e8f5e9;
    color: #0A6B34;
}

/* styling search input */
.search-input {
    flex-grow: 1;
    padding: 0.7rem;
    border: 1px none #ddd;
    background: #f8f8f8;
    border-left: none;
    border-left: 1px solid #ddd;
    transition: all 0.2s ease;

}
.search-input:hover{
    background-color: #f5f5f5;
    transform: scale(1.02);

}

.search-input:focus{
    outline: none;
}

/* styling search btn */
.search-button {
    position: absolute;
    left: 80%;
    padding: 0.9rem;
    background: #027A36;           
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    width: 150px;
    transition: background 0.6s ease;
}
.search-button i{
    margin-right: 1rem;
}

.search-button:hover{
    background: black;
    transform: scale(1.02);
}

       
.nav-item {
    position: relative;
    color: #666;
}

.nav-item i{
    font-size: 25px;
}

.nav-item i:hover {
    color: #0A6B34;
}

.nav-item .badge {
    position: absolute;
    top: -15px;
    right: -8px;
    background: #FF4B4B;
    color: white;
    border-radius: 50%;
    width: 19px;
    height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

/* -------------------------------------------styling main section--------------------------------------------- */
/* ---------------------------styling hero section--------------------- */

.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #D5ECDE;
    position: relative;
    font-family: "Fraunces", serif

}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }


}

@keyframes zigzag {
    0% {
        transform: translateX(0) translateY(0);
    }
   
    50% {
        transform: translateX(20px) translateY(0);
    }
   
    100% {
        transform: translateX(0) translateY(0);
    }
}
.left{
    padding: 0;
    transform-origin: 50% 50%;
    transform: translate(0, 0);
    width: 60%;
    height: 620px;
    display: block;
    visibility: visible;
    background: url("https://demo2.themelexus.com/bokifa/wp-content/uploads/2024/09/h1-slider3-1.png") left bottom / 100% 100% no-repeat transparent;
    opacity: 1;
    pointer-events: auto;
    animation: slideInFromLeft 3s ease forwards , zigzag 2s linear 3s infinite;
}

/* Keyframes for elements in the right div to fade in from the bottom */


.right{
    padding: 0;
    transform-origin: 50% 50%;
    transform: translate(0, 0);
    overflow: visible;
    padding: 0;
    width: 38%;
    height: 320px;
    transform: translate(0, 0);  
}

@keyframes fadeInFromBottom {
    from {
        transform: translateY(40px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.right h2, .right h1, .right p, .right button {
    opacity: 0; /* Initially hide elements */
    animation: fadeInFromBottom 2s ease forwards;
}

.right h2{
    font-weight: 600;
    color: #FF4B4B;
    font-size: 20px;
    font-family: Arial, sans-serif;    
    margin-bottom: 20px;
    animation-delay: 0.4s;

}


.right h1{
    text-transform: uppercase;
    font-weight: 800;
    font-size: 50px;
    margin-bottom: 15px;
    animation-delay: 0.8s;

}

.right p{
    color: #333;
    font-size: 20px;
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
    animation-delay: 1s;


}

.right button{
    display: inline-block;
    padding: 0.9rem;
    background: white;           
    color:black;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    width: 150px;
    transition: background 0.6s ease;
    animation-delay: 1.4s;

}

.right button:hover{
    background: #0A6B34;
    color: white;
    transform: scale(1.02);
}


/* Footer */
footer {
    background: #fff;
    padding: 60px 0 40px;
    border-top: 1px solid #eee;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.footer-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    padding-bottom: 40px;
}

.newsletter {
    max-width: 400px;
}

.newsletter h2 {
    font-family: "Fraunces", serif;
    font-weight: 300;
    font-size: 44px;
    margin-bottom: 15px;
}

.newsletter p {
    font-family: "Manrope", sans-serif;
    color: #666;
    font-size: 14px;
    line-height: 1.5;
}

.subscribe-form {
    display: flex;
    justify-content: center; 
}

.input-container {
    position: relative; 
    width: 400px;
}

.email-input {
    width: 100%; 
    padding: 12px 15px;
    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 14px;
    transition: border 0.3s;
}

.email-input:focus {
    border: 1px solid #027A36;
    outline: none;
}

.email-input:hover {
    border: 1px solid #027A36;
}

.email-input::placeholder {
    margin-left: 10px;
    font-weight: 100;
    font-size: 12px;
}

.subscribe-btn {
    position: absolute;
    right: 0; 
    top: 0; 
    height: 100%; 
    padding: 0 15px; 
    background: transparent;
    color: #027a36;
    border: none;
    border-radius: 4px; 
    cursor: pointer;
    font-size: 14px;
    border: none;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: 12px;
}


.subscribe-btn:hover {
    color: #000;
}



.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons a i {
    size: 50px;
}
.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    border-top: 1px solid #eee;
}

.copyright {
    color: #666;
    font-size: 14px;
}
